.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.main__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    justify-content: space-between;
}

.main__clock {
    font-size: 170px;
}

.main__greeting {
    font-size: 50px;
}

.main__input-todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    justify-content: flex-end;
}

.main__input-todo-container h3 {
    font-size: 36px;
}

.main__input-todo-container form input {
    outline: none;
    background: none;
    border: none;
    border-bottom: solid 3px white;
    width: 600px;
    height: 5vh;
    font-size: 36px;
    color: white;
    text-align: center;
}